@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8% auto;
  flex-wrap: wrap;
}

.main-container {
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name_container {
  width: 40%;
  margin: 0% 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Dawning of a New Day", cursive;
  font-size: 2.5em;
  padding: 2% 2% 0% 2%;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 3.5em;
  padding: 0.5% 2% 2% 2%;
}

p {
  font-family: "Rubik", sans-serif;
  text-align: justify;
  font-size: 1em;
  margin-left: 10%;
  width: 80%;
  padding: 2%;
  line-height: 1.5em;
}

button {
  font-family: "Rubik", sans-serif;
  padding: 1.8% 0%;
  margin: 1% 12%;
  font-size: 1.1em;
  font-weight: 600;
  background-color: white;
  border: 2.5px solid black;
  cursor: pointer;
  letter-spacing: 1px;
  color: black;
}

button:hover {
  background-color: black;
  color: white;
}

img {
  width: 21%;
}

@media (max-width: 950px) {
  section {
    display: flex;
    flex-direction: column;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  h2 {
    font-size: 3em;
  }

  .name_container {
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-content: center;
    align-self: center;
  }

  img {
    width: 50%;
    margin-top: 5%;
    align-self: center;
  }
}
